html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, .tocTitle, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, table tr.heading, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
  margin:0;
  padding:0;
  border:0;
  font:inherit;
  font-size:100%;
  vertical-align:baseline;
}

html{
  line-height:1;
}

ol, ul{
  list-style:none;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

caption, th, table tr.heading, td{
  text-align:left;
  font-weight:normal;
  vertical-align:middle;
}

q, blockquote{
  quotes:none;
}

q:before, q:after, blockquote:before, blockquote:after{
  content:"";
  content:none;
}

a img{
  border:none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary{
  display:block;
}

*, *:before, *:after{
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

td.value{
  text-align:justify;
}

.roundedborder, input, select, textarea, a.file{
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:1px solid #07355E;
}

.button, .action,.toggleExtras-inactive,.toggleExtras-active, #setup .options{
  padding:2px 10px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:1px solid #07355E;
  background-color:#266BA8;
  font-weight:300;
  margin-right:1px;
  background-color:#cfcfcf;
  background-image:linear-gradient(#e1e1e1, #cfcfcf);
  border:none;
}

.button:hover, .action:hover,.toggleExtras-inactive:hover,.toggleExtras-active:hover, #setup .options:hover, .button:focus, .action:focus,.toggleExtras-inactive:focus,.toggleExtras-active:focus, #setup .options:focus{
  background-color:#3185d0;
}

.adminMenu ul, .pseudoMenu ul, #sidebarUser ul, table.listing ul{
  padding:0;
  margin:0 0 0 0.5em;
  list-style-type:none;
}

#sidebar .block ul{
  margin:.5em 0;
  padding:0 7%;
  list-style-type:none;
}

.adminMenu ul li, .pseudoMenu ul li, #sidebarUser ul li, table.listing ul li{
  list-style-type:none;
  padding:5px 0 5px 5px;
  border-bottom:1px solid #D1D3D5;
  display:block;
}

.adminMenu ul li a:before, .pseudoMenu ul li a:before, #sidebarUser ul li a:before, table.listing ul li a:before{
  content:'\00BB';
  padding-right:5px;
  margin-left:-10px;
}

#sidebar .block ul li{
  list-style-type:none;
  padding:5px 0 5px 10%;
  border-bottom:1px solid #D1D3D5;
  display:block;
}

#sidebar .block ul li a:before{
  content:'\00BB';
  padding-right:5px;
  margin-left:-10%;
}

#sidebar #sidebarLanguageToggle{
  display:none;
}

@viewport{width:device-width;}

html{box-sizing:content-box;}

html html{font-size:100%;line-height:1.5em;}

*, *:before, *:after{box-sizing:border-box;}

body{
  font-family:"Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
  font-size:16px;
  line-height:1.2em;
  background-color:#dee0e1;
  max-width:1920px;
}

body figure{
  display:inline-block;
}

em{
  font-style:italic;
}

strong{
  font-weight:700;
}

blockquote{
  padding:1em 1em 1em 2em;
}

ul{
  padding-left:2em;
  list-style-type:disc;
}

ol{
  list-style-type:decimal;
  margin-left:1em;
}

ol li{
  padding:5px 0;
}

#container{
  background-color:white;
  overflow:auto;
}

#body{
  overflow:auto;
  max-width:1600px;
  margin-left:auto;
  margin-right:auto;
  padding-top:0em;
  padding-bottom:0em;
  margin-bottom:1.5em;
  padding:0 1%;
}

#body:after{
  content:" ";
  display:block;
  clear:both;
}

#body p{
  padding:.5em 0;
  text-align:justify;
}

#articleAbstract{
  margin-bottom:5%;
}

#articleAbstract h4{
  font-weight:bold;
}

#articleFullText{
  margin-bottom:5%;
}

#articleFullText h4{
  font-weight:bold;
}

#articleSubject{
  margin-bottom:5%;
}

#articleSubject h4{
  font-weight:bold;
}

#articleCitations{
  margin-bottom:2%;
  text-indent:-2.5em;
  margin-left:2.5em;
}

#articleCitations h4{
  font-weight:bold;
}

#skip-to-content{
  padding:1em;
  position:absolute;
  top:-60px;
  left:1em;
  z-index:1000;
  color:white;
}

#skip-to-content:focus{
  position:absolute;
  top:0;
  background:#4593ff;
}

div.articleToolItem{
  padding:0 0 0 5%;
}

h1, h2, h3, h4, h5, .tocTitle, h6{
  font-family:"Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
}

h1{
  font-weight:700;
  font-size:2.625em;
  line-height:1.14286em;
}

h2, h3, h4, h5, .tocTitle, h6{
  font-family:"Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
  line-height:1em;
}

h2{
  font-size:2em;
  font-weight:700;
  padding:2%;
}

h3{
  font-size:1.5em;
  font-weight:700;
  margin-top:1.2em;
}

h4{
  font-size:1.4em;
  font-weight:400;
  margin-top:.5em;
  margin-bottom:0.2em;
}

h5, .tocTitle{
  font-size:1em;
  text-align:justify;
  margin-right:3%;
}

a{
  text-decoration:none;
  color:#0e6bbd;
}

a:hover, a:focus{
  text-decoration:none;
}

a:visited{
  color:#266BA8;
}
a:focus{
  color:#07355E;
}

a:hover{
  color:#1EB568;
}

a:active{
  color:#primary;
}

nav a{
  color:white;
}

nav a:visited{
  color:white;
}

nav a:focus{
  color:#1EB568;
}

nav a:hover{
  color:black;
}

nav a:active{
  color:#266BA8;
}

#pageFooter a{
  color:yellow;
}

#pageFooter a:visited{
  color:yellow;
}

#pageFooter a:focus{
  color:white;
}

#pageFooter a:hover{
  color:white;
}

#pageFooter a:active{
  color:green;
}

a.action, .button, .action,.toggleExtras-inactive,.toggleExtras-active, #setup .options, .options a{
  color:black;
}

a.action:visited, .button:visited, .action:visited,.toggleExtras-inactive:visited,.toggleExtras-active:visited, #setup .options:visited, .options a:visited{
  color:#0f4d48;
}

a.action:focus, .button:focus, .action:focus,.toggleExtras-inactive:focus,.toggleExtras-active:focus, #setup .options:focus, .options a:focus{
  color:#0f4d48;
}

a.action:hover, .button:hover, .action:hover,.toggleExtras-inactive:hover,.toggleExtras-active:hover, #setup .options:hover, .options a:hover{
  color:#0f4d48;
}

a.action:active, .button:active, .action:active,.toggleExtras-inactive:active,.toggleExtras-active:active, #setup .options:active, .options a:active{
  color:#ff0000;
}

input, select, textarea{
  font-family:"Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
  margin:0 .05em 0 0;
  font-size:1em;
  line-height:1.5em;
}

.label{
  width:auto;
}

form{
  padding-top:0em;
  padding-bottom:0em;
  margin-bottom:1.5em;
}

#sidebarLanguageToggle label{
  margin:1em 0 0 0;
}

form.pkp_form{
  margin:initial;
}

input{
  padding:2px;
}

table{
  width:100%;
}

table th, table tr.heading{
  font-family:"Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
  font-size:1.125em;
  line-height:1.33333em;
  background-color:#c3d6d6;
  border-bottom:2px solid #ecf1f0;
  text-transform:capitalize;
  padding:.5em .25em;
}

table tr{
  margin:.5em 0;
}

table td{
  padding:.5em .25em;
  vertical-align:top;
}

.tagit-new li{
  border:none;
}

.table-borders tr{
  border-bottom:1px solid #D1D3D5;
}

.menu{
  margin:0;
  padding:0;
  margin:0;
  padding:0;
  border:0;
  overflow:hidden;
  *zoom:1;
}

.menu li{
  list-style-image:none;
  list-style-type:none;
  margin-left:0;
  white-space:nowrap;
  float:left;
  padding-left:1em;
  padding-right:1em;
  border-right:2px solid #D1D3D5;
}

.menu li:first-child{

}

.menu li:last-child{
  padding-right:0;
}

.menu li.last{
  padding-right:0;
}

.menu li:last-child{
  border-right:none;
}

.callout{
  font-size:1.125em;
  line-height:1.33333em;
  font-weight:700;
}

.block{
  padding-top:0em;
  padding-bottom:0em;
  margin-bottom:.5em;
  height:100%;
  clear:both;
}

.inline-block{
  display:inline-block;
  margin-top:1.5em;
  padding-top:0em;
  padding-bottom:0em;
  margin-bottom:1.5em;
}

.largeButton a{
  color:white !important;
  display:block;
  padding:.7em;
  background-color:#07355E;
  -moz-box-shadow:0px 0px 5px #333333;
  -webkit-box-shadow:0px 0px 5px #333333;
  box-shadow:0px 0px 5px #333333;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  text-align:center;
}

.largeButton a:hover, .largeButton a:focus{
  background-color:#266BA8;
}

.headseparator{
  display:none;
}

.TOC{
  border:1px solid #edf1f1;
  padding:5px;
}

.TOC:nth-child(odd){
  background-color:#ebf5e3;
}

.pseudoHeading{
  font-size:1.25em;
  line-height:1.2em;
  padding:.5em 0 .25em;
}

.pseudoMenu{

}

#sidebar #sidebarHelp{
  background-color:transparent;
  padding-bottom:6%;
  margin-bottom:0%;
  background-image:none; 
  -webkit-box-shadow: none; 
  -moz-box-shadow: none; 
  box-shadow: none;
}

#sidebar #sidebarDevelopedBy{
  background-color:transparent;
  padding-bottom:6%;
  margin-bottom:0%;
}

#sidebar #sidebarUser{
  text-align:center;
}

#sidebar #sidebarUser span, #sidebar #sidebarUser ul{
  text-align:left;
}

a.blockTitle{
  color:white;
  margin-left:0;
  font-style:italic;
  padding:5px 0;
  background-image:linear-gradient(#20538d, #07355e);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  width:100%;
  text-align:center;
}

#sidebar .block{
  padding-bottom:10%;
  margin-bottom:6%;
  background-image:url(img/tt.png);
  background-repeat:no-repeat; 
  -webkit-box-shadow: -1px 1px 50px -10px rgba(168,168,168,1); 
  -moz-box-shadow: -1px 1px 50px -10px rgba(168,168,168,1); 
  box-shadow: -1px 1px 50px -10px rgba(168,168,168,1);
}

.label{
  font-weight:700;
}

.separator{
  display:none;
}

.sort{
  border:1px solid #D1D3D5;
}

.sort form{
  padding:.25em;
  margin:.25em 0;
}

.heading, #setup .pkp_controllers_grid table th, #setup .pkp_controllers_grid table tr.heading{
  font-family:"Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
  font-size:1.125em;
  line-height:1.33333em;
  background-color:#dee0e1;
  padding:.25em;
}

.heading td:last-child, #setup .pkp_controllers_grid table th td:last-child, #setup .pkp_controllers_grid table tr.heading td:last-child{
  text-align:center;
}

.selectMenu{
  font-size:0.875em;
  line-height:1.71429em;
  min-height:2.1em;
  margin-right:5px;
}

nav{
width:100%;
background: linear-gradient(to bottom, #0068af 0%,#00528a 100%);
overflow:auto;
padding:0;
margin-bottom:1%;
border-top: 2px solid #a2d3f3;
}

#mobileNav{
  display:none;
}

#navbar{
  max-width:1600px;
  margin-left:auto;
  margin-right:auto;
  padding:0 10px;
  display:block;
}

#navbar:after{
  content:" ";
  display:block;
  clear:both;
}

ul.navMenu{
  width:74%;
  float:left;
  margin-right:1%;
}

ul.navMenu li{
  border-right: 0px solid white;
  font-family:"Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
  font-weight:300;
  letter-spacing:.05em;
  padding:1% 0;
}

ul.navMenu a{
  padding:10px 15px;
}

ul.navMenu li:last-child{
  border:none;
}

ul.navMenu li:visited{
  background:#419476;
}

ul.navMenu li:focus{
  background:#419476;
}

ul.navMenu li:hover{
  background:#67a8d2;
}

#searchbar{
  width:25%;
  float:right;
  margin-right:0;
  text-align:right;
}

#searchbar form{
  margin:4px 1% 0 0;
}

#searchbar form input{
  padding:2px 6px;
  margin:0;
}

#breadcrumb{
  font-size:0.875em;
  line-height:1.71429em;
  padding:.5em 15px;
  background: #a2d3f3;
  color:black;
  font-style:italic;
}

#breadcrumb a{
  color:black;
  margin-left:5px;
  margin-right:5px;
}

#breadcrumbTT{
  color:#0f4d48;
}

#content{
  padding:0 2.5% 2.5% 2.5%;
  text-align:justify;
}

#header {
    height: 200px;
    text-align: center;
    background-position: right;
    width: 100%;
    background-repeat: no-repeat;
    background-color: #68b8ed;
}

#header h1, #header img{
  vertical-align:middle;
  display:inline-block;
  float:left;
}

#headerTitle{
  padding:0;
}

#headerTitle figure{
  max-width:1600px;
  margin:0;
  float:left;
}

#headerTitle figure img {
    max-height: 200px;
    width: auto;
    position: absolute;
    display: block;
    z-index: 10;
}

#header #ISSN{
  max-width:100%;
  padding-right:5%;
  height:auto;
  float:left;
  position:absolute;
  margin:125px 0 0 50px;
  text-align:left;
  font-size:0.8em;
  font-style:italic;
  z-index:11;
  font-family:cursive;
}

#header #ISSN a{
  color:#00978b;
  font-weight:bold;
  font-size:larger;
}

#header #ISSN a:visited{
  color:#00978b;
}

#header #ISSN a:focus{
  color:#00978b;
}

#header #ISSN a:hover{
  color:black;
}

#header #ISSNnav{
  display:none;
}

#header #ISSNnav a{
  color:white;
  -webkit-text-stroke-width:0.5px;
  -webkit-text-stroke-color:black;
  font-weight:bold;
  font-size:larger;
}

#header #ISSNnav a:visited{
  color:white;
}

#header #ISSNnav a:focus{
  color:white;
}

#header #ISSNnav a:hover{
  color:black;
}

#sidebar{
  height:100%;
}

#sidebar #submit-button{
  margin-bottom:1.5em;
}

#sidebar form{
  margin:0;
  padding:0 5%;
}

#sidebar .block .articleToolItem a{
  display:inline-block;
  vertical-align:top;
}

#sidebar .block h3{
  font-weight:400;
}

#leftSidebar{
  width:17%;
  float:left;
  margin-right:1%;
}

#rightSidebar{
  width:17%;
  float:right;
  margin-right:0;
}

.blockTitle, #sidebar .block h3{
  font-family:"Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
  font-size:1em;
  line-height:1.7em;
  display:block;
  padding:5px 5px 6px 5%;
  background-image: linear-gradient(to bottom, #0080c0 0%,#0c6794 100%);
  color:white;
}

.blockSubtitle{
  font-size:1.125em;
  line-height:1.33333em;
  display:block;
  border-top:3px solid #D1D3D5;
  padding:5% 0 0 7%;
}

#sidebarFontSize #sizer{
  padding:5% 5% 10% 5%;
}

.pkp_controllers_fontController_smallFont{
  background:url(img/downsize.png) !important;
  outline:none;
  text-indent:-9999px;
  display:block;
  float:left;
  width:40px;
  height:40px;
  margin-right:5px;
}

.pkp_controllers_fontController_defaultFont{
  background:url(img/normal.png) !important;
  outline:none;
  text-indent:-9999px;
  display:block;
  float:left;
  width:40px;
  height:40px;
  margin-right:5px;
}

.pkp_controllers_fontController_largeFont{
  background:url(img/upsize.png) !important;
  outline:none;
  text-indent:-9999px;
  display:block;
  float:left;
  width:40px;
  height:40px;
  margin-right:5px;
}

#sidebarRTAuthorBios .authorBio{
  padding:1em 0;
  border-bottom:1px solid #D1D3D5;
}

.authorBio p{
  padding:0 0 .25em 0;
}

#main{
  width:64%;
  float:right;
  margin-right:1%;
  margin-bottom:1%;
  background-color:white;
  background-image:url(img/tt.png);
  background-repeat:no-repeat;
  background-position-y:2.5em;
  background-size:100%;
  -webkit-box-shadow: -1px 1px 50px -10px rgba(168,168,168,1); 
  -moz-box-shadow: -1px 1px 50px -10px rgba(168,168,168,1); 
  box-shadow: -1px 1px 50px -10px rgba(168,168,168,1);
}

#main img{
  max-width:600px;
  height:auto;
}

#announcementsHome{
  display:inline-block;
  border-top:3px solid grey;
  margin-top:2%;
  width:100%;
}

.details td{
  margin-bottom:1.5em;
  border-bottom:1px solid #D1D3D5;
}

#pageFooter {
    clear: both;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    background: linear-gradient(to bottom, #0070a9 0%,#005a88 100%);
    width: 100%;
    border-top: 5px solid black;
}

#standardFooter{
  color:lightgreen;
}

#footer-contacttitle {
    width: 19%;
    float: left;
    min-height: 80px;
    color: white;
    font-weight: bold;
    margin-top: 2%;
    margin-right: 2%;
}

#footer-contact{
  width:100%;
  float:left;
  padding:1%;
  font-weight:normal;
}

#footer-contact li{
  list-style:none;
  font-size:0.8em;
  margin-left:0px;
  font-weight:normal;
}

#footer-middle {
    width: 100%;
    float: left;
    margin-bottom: 15px;
    font-size: 0.8em;
    margin-top: 15px;
    color: white;
    font-weight: normal;
}

#footer-middle #left {
    width: 24%;
    float: left;
    margin-right: 2%;
    text-align: left;
}

#footer-middle #center {
    float: left;
    width: 18%;
    min-width: 80px;
    text-align: left;
    margin-right: 2%;
}

#footer-middle #center img{
  height:80px
}

#footer-middle #right {
    width: 12%;
    float: left;
    margin-right: 2%;
    text-align: left;
}

#footer-middletitle {
    width: 100%;
    float: left;
    color: white;
    font-weight: bold;
}

#footer-middle a img{
  max-width:350px;
  margin-top:10px;
}

#footer-sharetitle {
    width: 19%;
    float: left;
    color: white;
    text-align: left;
}

#footer-share{
  width:60%;
  margin:45px 25% 0 20%;
  float:left;
  position:relative;
  height:2em;
}

#footer-share li{
  display:block;
  line-height:4em;
  margin:-1.5em;
  position:absolute;
  -webkit-transition:-webkit-transform .7s;
  -moz-transition:-moz-transform .7s;
  -ms-transition:-ms-transform .7s;
  -o-transition:-o-transform .7s;
  transition:transform .7s;
  text-align:center;
  width:3em;
  height:3em;
}

#footer-share img{
  display:block;
  line-height:4em;
  text-align:center;
  max-height:40px;
  max-width:40px;
}

#footer-share li:hover{
  -webkit-transform:scale(1.3,1.3) rotate(360deg);
  -moz-transform:scale(1.3,1.3) rotate(360deg);
  -ms-transform:scale(1.3,1.3) rotate(360deg);
  -o-transform:scale(1.3,1.3) rotate(360deg);
  transform:scale(1.3,1.3) rotate(360deg);
}

#footer-bottom{
  clear:both;
  padding:0px;
  background:black;
  color:white;
}

.facebook{
  left:0;
  top:0%;
}

.twitter{
  bottom:0;
  left:25%;
}

.dribbble{
  left:50%;
  top:0%;
}

.behance{
  bottom:0;
  left:75%;
}

.linked-in{
  left:100%;
  top:0%;
}

#indexed {
  display: inline-flex; 
  width: 90%; 
  margin: 2% 5%;
}

#indexed li{
  list-style-type: none; 
  width: 20%; 
  padding: 0 0.5%;
}

#indexed img { 
  width: 100%; 
  -moz-box-shadow: 0px 5px 5px #000; 
  -webkit-box-shadow: 0px 5px 5px #000;
  box-shadow: 0px 5px 5px #000;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px; 
  border-radius: 25px;
}

#results table{
  border:1px solid #87908F;
  margin-top:1.5em;
  padding-top:0em;
  padding-bottom:0em;
  margin-bottom:1.5em;
}

#results table thead th, #results table thead tr.heading{
  border-bottom:1px solid #87908F;
}

#results table tfoot th, #results table tfoot tr.heading, #results table tfoot td{
  border-top:1px solid #87908F;
}

#results table th:first-child, #results table tr.heading:first-child{
  border-right:1px solid #87908F;
}

#results table th:first-child, #results table tr.heading:first-child{
  border-right:none;
}

#results table tr:nth-child(odd){
  border-bottom:1px solid #D1D3D5;
}

#issues .list{
  padding:1em 0;
}

#issues .list .issueCoverImage{
  display:inline-block;
  max-width:30%;
}

#issues .list .issueCoverImage img{
  width:100%;
  border:1px solid #D1D3D5;
}

#issues .list .issueDescriptionImage{
  padding:.5em;
  vertical-align:top;
  display:inline-block;
  max-width:69%;
}

#issues .list h4:before{
  content:initial;
}

a.file{
  background-color:#1a5651;
  padding:0.1em .5em;
  color:#ffffff;
  font-weight:bold;
  font-family:serif;
}

.tocArticleGalleysPages, .tocGalleys{
  text-align:end;
  vertical-align:middle;
  padding-right:2%;
}

.tocPages, .tocAuthors{
  padding-top:.4em;
  font-size:0.9em;
  font-style:italic;
}

.tocCoverImage a.file{
  padding:0;
  border:none;
}

.altmetric-embed{
  display:inline-block;
  margin-top:1.5em;
  padding-top:0em;
  padding-bottom:0em;
  margin-bottom:1.5em;
}

.right{
  float:right;
}

#articleTitle{
  float:left;
}

#articleTitle h3{
  background-color:initial;
  margin-top:0;
}

.article #content{
  margin-top:1.5em;
  padding-top:0em;
  padding-bottom:0em;
  margin-bottom:1.5em;
}

.article #main h3{
  background-color:initial;
  padding-left:0;
}

.list{
  border-bottom:1px solid #D1D3D5;
}

.list h4:before{
  content:'\00BB';
  padding-right:5px;
}

h3.issue{
  background:none;
  padding-left:0;
  border-bottom:1px solid #D1D3D5;
}

#pdfDownloadLinkContainer{
  padding-bottom:.5em;
}

#pdfObject, #pdfCanvasContainer iframe{
  width:100%;
  min-height:700px !important;
}

.sectionBlock{
  margin-top:1.5em;
  padding-top:0em;
  padding-bottom:0em;
  margin-bottom:1.5em;
}

#selectSections select{
  width:50%;
}

table.alt-color tbody tr:nth-child(even){
  background-color:#e6e7e8;
}

table.alt-color-odd tbody tr:nth-child(odd){
  background-color:#e6e7e8;
}

table.info{
  margin-top:1.5em;
  padding-top:0em;
  padding-bottom:0em;
  margin-bottom:1.5em;
}

table.info th, table.info tr.heading{
  text-align:center;
  font-weight:bold;
}

table.info td,table.info th,table.info tr.heading{
  padding:2px;
}

table.info td.numeric,table.info th.numeric,table.info tr.numeric.heading{
  text-align:right;
}

table.info .tableHeading{
  font-family:"Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
  font-size:1.125em;
  line-height:1.33333em;
  background-color:#dee0e1;
}

table.info a{
  display:inline-block;
}

table.info tr{
  border-bottom:1px solid #D1D3D5;
}

table.info tr:last-child{
  border-bottom:none;
}

table.info td:first-child{
  text-align:left;
}

table.info td{
  text-align:center;
}

table.listing .heading a, #setup .pkp_controllers_grid table.listing th a, #setup .pkp_controllers_grid table.listing tr.heading a{
  color:#000;
}

table.listing tr{
  border-bottom:1px solid #D1D3D5;
}

table.listing tr:last-child{
  border-bottom:none;
}

table.listing td{
  text-align:left;
}

table.listing a{
  padding:0;
}

table.settings{
  margin-top:1.5em;
  padding-top:0em;
  padding-bottom:0em;
  margin-bottom:1.5em;
  border:1px solid #D1D3D5;
}

table.settings thead th, table.settings thead tr.heading{
  border-bottom:1px solid #D1D3D5;
}

table.settings tfoot th, table.settings tfoot tr.heading, table.settings tfoot td{
  border-top:1px solid #D1D3D5;
}

table.settings th:first-child, table.settings tr.heading:first-child{
  border-right:1px solid #D1D3D5;
}

table.settings td.label{
  vertical-align:middle;
}

table.checklist td{
  vertical-align:middle;
}

table.email tr:nth-child(odd){
  background-color:#e6e7e8;
}

table.listing span.instruct{
  margin:0;
}

table.nested{
  font-size:0.875em;
  line-height:1.71429em;
}

table.single{
  border-top:2px solid #D1D3D5;
  border-bottom:2px solid #D1D3D5;
}

#profile table tr{
  border-bottom:1px solid #D1D3D5;
}

#systemConfiguration h4{
  text-transform:capitalize;
  margin-top:1em;
  padding:.25em;
  background-color:#ececed;
}

#systemConfiguration table tr{
  border-bottom:1px solid #D1D3D5;
}

.highlightReviewerNotNotified, .highlightCopyediting{
  background-color:#266BA8;
}

.highlightReviewerNotNotified:before, .highlightCopyediting:before{
  content:"\00b9";
  padding:0 4px;
}

.highlightNoDecision{
  background-color:#07355E;
  color:white;
}

.highlightNoDecision:before{
  content:"\00b2";
  padding:0 4px;
}

.highlightReviewerConfirmationOverdue{
  background-color:#FF6C3E;
}

.highlightReviewerConfirmationOverdue:before{
  content:"\2020";
  padding:0 4px;
}

.highlightRevisedCopyUploaded, .highlightLayoutEditing{
  background-color:#1EB568;
}

.highlightRevisedCopyUploaded:before, .highlightLayoutEditing:before{
  content:"\2666";
  padding:0 4px;
}

.highlightReviewerCompletionOverdue, .higlightProofreading{
  background-color:#006633;
  color:white;
}

.highlightReviewerCompletionOverdue:before, .higlightProofreading:before{
  content:"\25CA";
  padding:0 4px;
}

.highlightCopyediting a,.highlightLayoutEditing a,.highlightNoDecision a,.highlightReviewerCompletionOverdue a,.highlightRevisedCopyUploaded a,.highlightReviewerConfirmationOverdue a,.highlightReviewerNotNotified a,.higlightProofreading a{
  background-color:initial;
  border-color:initial;
}

#notes ul{
  padding:0;
}

#notes ul li{
  padding:.5em;
  list-style-type:none;
}

span.instruct{
  display:block;margin:.5em 0;
}

#assignBlocksToSidebars{
  border:1px solid #D1D3D5;
}

#assignBlocksToSidebars .heading, #assignBlocksToSidebars #setup .pkp_controllers_grid table th, #setup .pkp_controllers_grid table #assignBlocksToSidebars th, #assignBlocksToSidebars #setup .pkp_controllers_grid table tr.heading, #setup .pkp_controllers_grid table #assignBlocksToSidebars tr.heading{
  text-align:center;
  border:1px solid #87908F;
}

#assignBlocksToSidebars input{
  padding:2px 0;
}

#assignBlocksToSidebars td.centerButton{
  vertical-align:middle !important;
}

#setup .options{
  margin-top:2em;
}

#setup .pkp_controllers_grid table{
  margin-top:1.5em;
  padding-top:0em;
  padding-bottom:0em;
  margin-bottom:1.5em;
  border:1px solid #87908F;
}

#setup .pkp_controllers_grid table th, #setup .pkp_controllers_grid table tr.heading, #setup .pkp_controllers_grid table td{
  border-right:1px solid #D1D3D5;
  border-bottom:1px solid #D1D3D5;
  border-left-width:0;
  border-top-width:0;
}

#setup .pkp_controllers_grid table th:last-child, #setup .pkp_controllers_grid table tr.heading:last-child, #setup .pkp_controllers_grid table td:last-child{
  border-right-width:0;
}

#setup .pkp_controllers_grid table th.last, #setup .pkp_controllers_grid table tr.last.heading, #setup .pkp_controllers_grid table td.last{
  border-right-width:0;
}

#setup .pkp_controllers_grid table tbody tr:last-child th, #setup .pkp_controllers_grid table tbody tr:last-child tr.heading, #setup .pkp_controllers_grid table tbody tr:last-child td, #setup .pkp_controllers_grid table tfoot tr:last-child th, #setup .pkp_controllers_grid table tfoot tr:last-child tr.heading, #setup .pkp_controllers_grid table tfoot tr:last-child td{
  border-bottom-width:0;
}

#setup .pkp_controllers_grid table tbody tr.last th, #setup .pkp_controllers_grid table tbody tr.last tr.heading, #setup .pkp_controllers_grid table tbody tr.last td, #setup .pkp_controllers_grid table tfoot tr.last th, #setup .pkp_controllers_grid table tfoot tr.last tr.heading, #setup .pkp_controllers_grid table tfoot tr.last td{
  border-bottom-width:0;
}

#setup .pkp_controllers_grid table thead th, #setup .pkp_controllers_grid table thead tr.heading{
  border-bottom:1px solid #87908F;
}

#setup .pkp_controllers_grid table tfoot th, #setup .pkp_controllers_grid table tfoot tr.heading, #setup .pkp_controllers_grid table tfoot td{
  border-top:1px solid #87908F;
}

#setup .pkp_controllers_grid table th:first-child, #setup .pkp_controllers_grid table tr.heading:first-child{
  border-right:1px solid #87908F;
}

td form{
  margin:0;
}

.refbacks .menu{
  margin:1em 0;
}

.endseparator{
  display:none;
}

.composite-ui{
  font-size:0.875em;
  line-height:1.71429em;
}

.composite-ui div.pane div.help-message{
  margin:10px;padding:0;
}

.composite-ui div.two-pane table.pane_header{
  margin-top:0;
}

.composite-ui > .ui-tabs ul.main-tabs a{
  font-size:1.25em;
}

.pkp_controllers_grid h3{
  background-color:initial;
}

.steplist{
  padding:0;
}

.steplist li{
  list-style-type:none;
}

.pseudoMenu .current, #sidebar .block .current, #sidebarUser .current{
  background-color:#D1D3D5;
}

#plugins a.action{
  display:inline-block;
}

#plugins a.action:before{
  content:initial;
}

.pluginList ul{
  padding:0;margin:.5em 0;
}

.pluginList ul li{
  list-style-type:none;
  padding:10px 0 5px 5px;
  border-bottom:1px solid #D1D3D5;
}

.pluginList ul li p:before{
  content:'\00BB';
  padding-right:5px;
}

.popup #header{
  margin:.5em 0;
  min-height:initial;
  color:#017070;
  text-align:right;
  font-size:0.875em;
  line-height:1.71429em;
  background:#e9f3e4;
}

.popup #header #headerTitle{
  padding:0;
}

.popup #header #headerTitle h1{
  text-align:center;
  float:none;
  display:block;
  text-transform:uppercase;
}

.popup #body{
  width:100%;
  padding:2em;
  margin-top:0;
}

.popup #main{
  width:100%;
  border:#d1e2c9 2px solid;
  background-image:url(img/tt.png);
}

.popup #main h3{
  background-color:initial;
  font-weight:400;
  padding:0;
}

.popup table{
  margin-top:0;
}

#articleComments table{
  border:1px solid #D1D3D5;
}

#articleComments table thead th, #articleComments table thead tr.heading{
  border-bottom:1px solid #D1D3D5;
}

#articleComments table tfoot th, #articleComments table tfoot tr.heading, #articleComments table tfoot td{
  border-top:1px solid #D1D3D5;
}

#articleComments table th:first-child, #articleComments table tr.heading:first-child{
  border-right:1px solid #D1D3D5;
}

#articleComments table th, #articleComments table tr.heading, #articleComments table td{
  border-right:1px solid #D1D3D5;
  border-bottom:1px solid #D1D3D5;
  border-left-width:0;
  border-top-width:0;
}

#articleComments table th:last-child, #articleComments table tr.heading:last-child, #articleComments table td:last-child{
  border-right-width:0;
}

#articleComments table th.last, #articleComments table tr.last.heading, #articleComments table td.last{
  border-right-width:0;
}

#articleComments table tbody tr:last-child th, #articleComments table tbody tr:last-child tr.heading, #articleComments table tbody tr:last-child td, #articleComments table tfoot tr:last-child th, #articleComments table tfoot tr:last-child tr.heading, #articleComments table tfoot tr:last-child td{
  border-bottom-width:0;
}

#articleComments table tbody tr.last th, #articleComments table tbody tr.last tr.heading, #articleComments table tbody tr.last td, #articleComments table tfoot tr.last th, #articleComments table tfoot tr.last tr.heading, #articleComments table tfoot tr.last td{
  border-bottom-width:0;
}

#articleComments table .commentNote{
  font-weight:700;
}

#articleComments table .comments{
  margin-top:1.5em;
  padding-top:0em;
  padding-bottom:0em;
  margin-bottom:1.5em;
}

.commentTitle{
  font-family:"Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
  text-decoration:underline;
  font-size:1.0625em;
  line-height:1.41176em;
}

.fancyList ul, #signinForm ul{
  padding:0;margin:.5em 0;
}

.fancyList ul li, #signinForm ul li{
  list-style-type:none;
  padding:10px 0 5px 5px;
  border-bottom:1px solid #D1D3D5;
}

.fancyList ul li:before, #signinForm ul li:before{
  content:'\00BB';
  padding-right:5px;
}

#interests .ui-widget-content.ui-autocomplete-input{
  width:99%;
  border:none;
}

.tagit-close .ui-icon.ui-icon-close{
  display:none;
}